<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1006797875927-s9nqgm6r1auaf7kera78k1mvdhpepncb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006797875927-s9nqgm6r1auaf7kera78k1mvdhpepncb</string>
	<key>API_KEY</key>
	<string>AIzaSyCwG0UHWYWF-Ii2XnzHPMUn_mbfoc6L2bc</string>
	<key>GCM_SENDER_ID</key>
	<string>1006797875927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kalikans.PushMyNotifs</string>
	<key>PROJECT_ID</key>
	<string>pushmynotifs-47d73</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotifs-47d73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006797875927:ios:1814e410173e6605</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotifs-47d73.firebaseio.com</string>
</dict>
</plist>
